*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: black;
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	cursor: default;
	overflow-x: hidden;
	
	
   
}
	.wrapper {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 overflow: hidden;
	 max-width: 1600px;
	 margin: 0 auto;
		
 }
 .fullscreen {
	 display: flex;
	 min-height: 100vh;
	 width: 100%;
	 box-shadow: 0 0 200px black;
	 position: relative;
 }
 .fullscreen_body {
	 flex: 1 1 auto;
     text-align: left;
     justify-content: center;
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 box-shadow: inset 0 0 100px black;
	 position: relative;
 }
 .logo {
	 align-items: right;
	 position: absolute;
	 top: 40px;
	 right: 40px;
	 animation: rideimg infinite 32s ease-in-out 0.5s;
	 z-index: 0;
 }
 .logo .image {
	 width: 350px;
	 height: 150px;
	 z-index: 0;
	 position: relative;
	 opacity: 0.4;
	 animation: wiggleimg infinite 10s ease-in-out;
	 transform-origin: bottom;
 }
  @keyframes rideimg {
	 0% { transform: translate(0%,0%);}
	 33% { transform: translate(-20%,30%);}
	 66% { transform: translate(-40%,15%);}
	 100% { transform: translate(0%,0%);}
 }
 @keyframes wiggleimg {
	 0% { transform: rotate(0deg);}
	 25% { transform: rotate(3deg);}
	 50% { transform: rotate(0deg);}
	 75% { transform: rotate(-3deg);}
	 100% { transform: rotate(0deg);}
 }
 .fullscreen_title {
	font-size: calc(36px + 23 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 25px 25px;
	 letter-spacing: -3px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 1box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
 }
 .fullscreen_title h2 {
	 font-size: calc(30px + 17 * ((100vw - 320px) / (1280 - 320)));
	 font-weight: 700;
	 margin: 10px 0px 10px 30px;
 }
 .fullscreen_title:hover b, .fullscreen_title b {
	 transition: 1.2s;
	 color: #6e0a00;
 }
 .fullscreen_title b {
	 color: #6e0a00;
 }
  .fullscreen_title i {
	  font-size: calc(28px + 19 * ((100vw - 320px) / (1280 - 320)));
	  opacity: 0.8;
	  letter-spacing: -1px;
 }
 .title_back {
	 display: flex;
	 text-align: left;
 }
 @keyframes minzoom {
	 0% { transform: scale(1);}
	 100% {transform: scale(1.05);}
 }
  .fullscreen_text {
	  font-size: calc(26px + 15 * ((100vw - 320px) / (1280 - 320)));
      margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 30px;
	  margin-right: 100px;
	  text-indent: 40px;
	  position: relative;
  }
  .fullscreen_text pg {
	  font-size: calc(28px + 15 * ((100vw - 320px) / (1280 - 320)));
  }
  .fullscreen_text p{
	  font-size: calc(26px + 15 * ((100vw - 320px) / (1280 - 320)));
      margin-top: 30px;
	  margin-bottom: 30px;
	  margin-left: 30px;
	  margin-right: 100px;
	  text-indent: 40px;
	  position: relative;
  }

 .fullscreen_title {
	font-size: calc(32px + 21 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 20px 20px;
	 letter-spacing: -2px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
 }
 

  .text_body .text_upper {
	  font-size: calc(22px + 13 * ((100vw - 320px) / (1280 - 320)));
	  margin: 0px 60px 30px 0px;
	  text-indent: 40px;
	  opacity: 0.8;
	  text-align: right;
	  transition: 1s ease-in-out;
  }
  .text_body .text_upper pg {
	  font-size: calc(24px + 15 * ((100vw - 320px) / (1280 - 320)));
  opacity: 1.3;
  }
  .text_body .text_upper:hover {
	  letter-spacing: 0.3px;
  }
  .fullscreen_text p{
	  margin-top: 30px;
  }
  .text_body {
	  display: flex;
	  flex-direction: column;
  }
  .content { 
  min-height: 100vh;
  display: flex;
  background: white;
  width: 100%;
  }
  .text_body .text_upper i{
	  
  }
@media screen and (max-device-width:480px){
   *, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: black;
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	cursor: default;
	overflow-x: hidden;
	
	
   
}
	.wrapper {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 overflow: hidden;
	 max-width: 1600px;
	 margin: 0 auto;
		
 }
 .fullscreen {
	 display: flex;
	 min-height: 100vh;
	 width: 100%;
	 box-shadow: 0 0 200px black;
	 position: relative;
 }
 .fullscreen_body {
	 flex: 1 1 auto;
     text-align: left;
     justify-content: center;
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 box-shadow: inset 0 0 100px black;
	 position: relative;
 }
 .logo {
	 align-items: right;
	 position: absolute;
	 top: 40px;
	 right: 40px;
	 animation: rideimg infinite 32s ease-in-out 0.5s;
	 z-index: 0;
 }
 .logo .image {
	 width: 350px;
	 height: 150px;
	 z-index: 0;
	 position: relative;
	 opacity: 0.4;
	 animation: wiggleimg infinite 10s ease-in-out;
	 transform-origin: bottom;
 }
  @keyframes rideimg {
	 0% { transform: translate(0%,0%);}
	 33% { transform: translate(-20%,30%);}
	 66% { transform: translate(-40%,15%);}
	 100% { transform: translate(0%,0%);}
 }
 @keyframes wiggleimg {
	 0% { transform: rotate(0deg);}
	 25% { transform: rotate(3deg);}
	 50% { transform: rotate(0deg);}
	 75% { transform: rotate(-3deg);}
	 100% { transform: rotate(0deg);}
 }
 .fullscreen_title {
	font-size: calc(46px + 23 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 25px 25px;
	 letter-spacing: -3px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 1box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
 }
 .fullscreen_title h2 {
	 font-size: calc(40px + 17 * ((100vw - 320px) / (1280 - 320)));
	 font-weight: 700;
	 margin: 10px 0px 10px 30px;
 }
 .fullscreen_title:hover b, .fullscreen_title b {
	 transition: 1.2s;
	 color: #6e0a00;
 }
 .fullscreen_title b {
	 color: #6e0a00;
 }
  .fullscreen_title i {
	  font-size: calc(38px + 19 * ((100vw - 320px) / (1280 - 320)));
	  opacity: 0.8;
	  letter-spacing: -1px;
 }
 .title_back {
	 display: flex;
	 text-align: left;
 }
 @keyframes minzoom {
	 0% { transform: scale(1);}
	 100% {transform: scale(1.05);}
 }
  .fullscreen_text {
	  font-size: calc(36px + 15 * ((100vw - 320px) / (1280 - 320)));
      margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 30px;
	  margin-right: 100px;
	  text-indent: 40px;
	  position: relative;
  }
  .fullscreen_text pg {
	  font-size: calc(38px + 15 * ((100vw - 320px) / (1280 - 320)));
  }
  .fullscreen_text p{
	  font-size: calc(36px + 15 * ((100vw - 320px) / (1280 - 320)));
      margin-top: 30px;
	  margin-bottom: 30px;
	  margin-left: 30px;
	  margin-right: 100px;
	  text-indent: 40px;
	  position: relative;
  }

 .fullscreen_title {
	font-size: calc(42px + 21 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 20px 20px;
	 letter-spacing: -2px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
 }
 
 @media (max-width: 1050px) {
	  .fullscreen_text {
		  margin-right: 30px;
	  }
  }
@media (max-width: 720px) {
	  .fullscreen_title i {
	  font-size: calc(36px + 19 * ((100vw - 320px) / (1280 - 320)));
	  opacity: 0.8;
	  letter-spacing: -1.5px;
	  }
	  .fullscreen_title {
	font-size: calc(40px + 21 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 25px 15px;
	 letter-spacing: -2px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
 }
 .text_body .text_upper {
	  font-size: calc(30px + 13 * ((100vw - 320px) / (1280 - 320)));
	  margin: 0px 60px 30px 60px;
	  text-indent: 40px;
	  opacity: 0.8;
	  text-align: center;
	  margin-bottom: calc(22px + 12 * ((100vw - 320px) / (1280 - 320)));
	  transition: 1s ease-in-out;
	  display: flex;
  }
  .title_back {
	   margin-top: calc(100px + 70 * ((100vw - 320px) / (1280 - 320)));
  }
 }
  .text_body .text_upper {
	  font-size: calc(32px + 13 * ((100vw - 320px) / (1280 - 320)));
	  margin: 0px 60px 30px 0px;
	  text-indent: 40px;
	  opacity: 0.8;
	  text-align: right;
	  transition: 1s ease-in-out;
  }
  .text_body .text_upper pg {
	  font-size: calc(34px + 15 * ((100vw - 320px) / (1280 - 320)));
  opacity: 1.3;
  }
  .text_body .text_upper:hover {
	  letter-spacing: 0.3px;
  }
  .fullscreen_text p{
	  margin-top: 30px;
  }
  .text_body {
	  display: flex;
	  flex-direction: column;
  }
  .content { 
  min-height: 100vh;
  display: flex;
  background: white;
  width: 100%;
  }
    }
