 .fullscreen {
	 display: flex;
	 min-height: 100vh;
	 width: 100%;
	 box-shadow: 0 0 200px black;
	 position: relative;
 }
 .fullscreen_body {
	 flex: 1 1 auto;
     text-align: left;
     justify-content: center;
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 box-shadow: inset 0 0 100px black;
	 position: relative;
 }
 .logo {
	 align-items: right;
	 position: absolute;
	 top: 40px;
	 right: 40px;
	 animation: rideimg infinite 32s ease-in-out 0.5s;
	 z-index: 0;
 }
 .logo .image {
	 width: 350px;
	 height: 150px;
	 z-index: 0;
	 position: relative;
	 opacity: 0.4;
	 animation: wiggleimg infinite 10s ease-in-out;
	 transform-origin: bottom;
 }
  @keyframes rideimg {
	 0% { transform: translate(0%,0%);}
	 33% { transform: translate(-20%,30%);}
	 66% { transform: translate(-40%,15%);}
	 100% { transform: translate(0%,0%);}
 }
 @keyframes wiggleimg {
	 0% { transform: rotate(0deg);}
	 25% { transform: rotate(3deg);}
	 50% { transform: rotate(0deg);}
	 75% { transform: rotate(-3deg);}
	 100% { transform: rotate(0deg);}
 }
 .fullscreen_title {
	font-size: calc(31px + 23 * ((100vw - 320px) / (1280 - 320)));
	 margin: 0px 0px 25px 25px;
	 letter-spacing: -3px;
	 font-weight: 900;
	 padding: 15px;
	 border-radius: 40px;
	 animation: minzoom infinite 13s alternate;
	 transform-origin: left;
	 1box-shadow: 0 0 200px black, inset 0 0 15px 0 black;
	 z-index: 1;
	 position: relative;
	 background: #000000ba;
	 text-align: left;
 }
 .fullscreen_title h2 {
	 font-size: calc(25px + 17 * ((100vw - 320px) / (1280 - 320)));
	 font-weight: 700;
